<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsy.rxdemo">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--收短信的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!--读取短信信息的权限-->
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RxTestActivity" />
        <activity android:name=".SimpleActivity" />
        <activity android:name=".MoreActivity" />
        <activity android:name=".githubdemo.NetworkActivity" />
        <activity android:name=".SafeActivity" />
        <activity android:name=".BindingActivity" />
        <activity android:name=".backdemo.BackgroundActivity" />
        <activity android:name=".cachedemo.RxCacheActivity" />
        <activity android:name=".cachedemo.RxCachedActivity" />
        <activity android:name=".cachedemo.RxNoCachedActivity" />
        <activity android:name=".moviedemo.MovieTop250Activity" />
        <activity android:name=".lambda.LambdaActivity" />
        <activity android:name=".rxbus.RxBusActivity" />
        <activity android:name=".rxbus.RxBusNextActivity" />
        <activity android:name=".mvpdemo.view.LoginActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".sms.SmsActivity" />

        <service android:name=".backdemo.CustomService" />

        <!-- umengAppKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="575e4ba667e58e99710014bc" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
    </application>

</manifest>